@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    flex-direction: column;
}

.body {

}
.header {
    height: 650px;
    flex: 1;
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 410px;
    justify-content: space-between;
}

.menu {
    list-style: none;
    flex: 1;
    display: flex;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
}